In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import RFE
from sklearn.svm import KNeighborsClassifier
import math

In [335]:
df = pd.read_csv("Loan Prediction Test - final.csv")
df = df.drop("Unnamed: 0",axis=1)
Loan_ID_test = df.pop("Loan_ID")

In [336]:
print(df.columns.values)
df.head()

['ApplicantIncome' 'CoapplicantIncome' 'LoanAmount' 'Combined_Income'
 'Income_Percent' 'Family' 'Cosigned' 'Gender_Female' 'Gender_Male'
 'Gender_nan' 'Education_Graduate' 'Education_Not Graduate' 'Education_nan'
 'Property_Area_Rural' 'Property_Area_Semiurban' 'Property_Area_Urban'
 'Property_Area_nan' 'Married_0.0' 'Married_1.0' 'Married_nan'
 'Dependents_0.0' 'Dependents_1.0' 'Dependents_2.0' 'Dependents_3.0'
 'Dependents_nan' 'Self_Employed_0.0' 'Self_Employed_1.0'
 'Self_Employed_nan' 'Credit_History_0.0' 'Credit_History_1.0'
 'Credit_History_nan' 'Property_Area_Rural.1' 'Property_Area_Semiurban.1'
 'Property_Area_Urban.1' 'Property_Area_nan.1' 'Loan_Amount_Term_0.0'
 'Loan_Amount_Term_100.0' 'Loan_Amount_Term_200.0' 'Loan_Amount_Term_300.0'
 'Loan_Amount_Term_400.0' 'Loan_Amount_Term_nan']

,ApplicantIncome,CoapplicantIncome,LoanAmount,Combined_Income,Income_Percent,Family,Cosigned,Gender_Female,Gender_Male,Gender_nan,...,Property_Area_Rural.1,Property_Area_Semiurban.1,Property_Area_Urban.1,Property_Area_nan.1,Loan_Amount_Term_0.0,Loan_Amount_Term_100.0,Loan_Amount_Term_200.0,Loan_Amount_Term_300.0,Loan_Amount_Term_400.0,Loan_Amount_Term_nan
0,5720,0,110.0,5720,52.000000,0.0,0.0,0,1,0,...,0,0,1,0,0,0,0,1,0,0
1,3076,1500,126.0,4576,36.317460,1.0,1.0,0,1,0,...,0,0,1,0,0,0,0,1,0,0
2,5000,1800,208.0,6800,32.692308,1.0,1.0,0,1,0,...,0,0,1,0,0,0,0,1,0,0
3,2340,2546,100.0,4886,48.860000,1.0,1.0,0,1,0,...,0,0,1,0,0,0,0,1,0,0
4,3276,0,78.0,3276,42.000000,0.0,0.0,0,1,0,...,0,0,1,0,0,0,0,1,0,0

In [337]:
train_df = pd.read_csv("Loan Prediction Train - final.csv")
train_df = train_df.drop("Unnamed: 0",axis = 1)
Loan_ID_train = train_df.pop("Loan_ID")

In [338]:
train_df.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Status,Combined_Income,Income_Percent,Family,Cosigned,Gender_Female,Gender_Male,...,Property_Area_Rural.1,Property_Area_Semiurban.1,Property_Area_Urban.1,Property_Area_nan.1,Loan_Amount_Term_0.0,Loan_Amount_Term_100.0,Loan_Amount_Term_200.0,Loan_Amount_Term_300.0,Loan_Amount_Term_400.0,Loan_Amount_Term_nan
0,5849,0,134.0,1,5849,43.649254,0.0,0.0,0,1,...,0,0,1,0,0,0,0,1,0,0
1,4583,1508,128.0,0,6091,47.585938,1.0,1.0,0,1,...,1,0,0,0,0,0,0,1,0,0
2,3000,0,66.0,1,3000,45.454545,0.0,0.0,0,1,...,0,0,1,0,0,0,0,1,0,0
3,2583,2358,120.0,1,4941,41.175000,0.0,1.0,0,1,...,0,0,1,0,0,0,0,1,0,0
4,6000,0,141.0,1,6000,42.553191,0.0,0.0,0,1,...,0,0,1,0,0,0,0,1,0,0

### Train Model

In [339]:
Y = train_df.pop("Loan_Status")
X = train_df
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=100)

In [340]:
# model = LogisticRegression(random_state=100)
model = RandomForestClassifier(n_estimators=30,max_depth=6,min_samples_leaf=4,oob_score=True,random_state=100)
model = RFE(model,18)
model.fit(X_train,y_train)

RFE(estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=6, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=4, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=30, n_jobs=1,
            oob_score=True, random_state=100, verbose=0, warm_start=False),
  n_features_to_select=18, step=1, verbose=0)

### Most Important Features:

In [341]:
d = {}
for i in range(0,len(df.columns.values[model.support_])):
    d[df.columns.values[model.support_][i]] = round(model.estimator_.feature_importances_[i],3)
print(d)
sorted(d,key=d.get)

{'ApplicantIncome': 0.059999999999999998, 'CoapplicantIncome': 0.048000000000000001, 'LoanAmount': 0.053999999999999999, 'Combined_Income': 0.080000000000000002, 'Income_Percent': 0.085000000000000006, 'Family': 0.0080000000000000002, 'Cosigned': 0.01, 'Education_Graduate': 0.017999999999999999, 'Education_Not Graduate': 0.010999999999999999, 'Property_Area_Semiurban': 0.0080000000000000002, 'Property_Area_Urban': 0.012999999999999999, 'Married_1.0': 0.012, 'Dependents_1.0': 0.0060000000000000001, 'Credit_History_0.0': 0.34799999999999998, 'Credit_History_1.0': 0.17999999999999999, 'Credit_History_nan': 0.025999999999999999, 'Property_Area_Semiurban.1': 0.024, 'Loan_Amount_Term_300.0': 0.0060000000000000001}

['Dependents_1.0',
 'Loan_Amount_Term_300.0',
 'Family',
 'Property_Area_Semiurban',
 'Cosigned',
 'Education_Not Graduate',
 'Married_1.0',
 'Property_Area_Urban',
 'Education_Graduate',
 'Property_Area_Semiurban.1',
 'Credit_History_nan',
 'CoapplicantIncome',
 'LoanAmount',
 'ApplicantIncome',
 'Combined_Income',
 'Income_Percent',
 'Credit_History_1.0',
 'Credit_History_0.0']

### Score against training subset

In [342]:
print("Model's mean accuracy is: {}".format(model.score(X_test,y_test)))

Model's mean accuracy is: 0.7945945945945946

### Predict on Actual Test Data

In [343]:
X_real = df
y_pred = model.predict(X_real)
y_pred = pd.Series(model.predict(X_real))

In [344]:
final_df = pd.DataFrame(Loan_ID_test)
final_df["Loan_Status"] = y_pred
final_df["Loan_Status"] = final_df["Loan_Status"].map({1:"Y",0:"N"})
final_df.head()

    Loan_ID Loan_Status
0  LP001015           Y
1  LP001022           Y
2  LP001031           Y
3  LP001035           Y
4  LP001051           Y

In [345]:
final_df.to_csv("Current Submission.csv",index=False)

### KNN

In [ ]:
model = SVC(kernel='sigmoid',random_state=100)
# model = RFE(model,18)
model.fit(X_train,y_train)

In [ ]:
print("Model's mean accuracy is: {}".format(model.score(X_test,y_test)))